@font-face {
  font-family: 'M+ 1m';
  font-style: normal;
  font-weight: 300;
  src: local('M+ 1m light'), local('mplus-1m-light'),
       url('http://hunch.se/style/fonts/mplus-1m-light.ttf') 
       format('truetype');
}
/*@font-face {
  font-family: 'M+ 2p';
  font-style: normal;
  font-weight: lighter;
  src: local('M+ 2p'), local('mplus-2p-light'),
       url('http://hunch.se/style/fonts/mplus-2p-light.ttf') format('truetype');
}*/

@font-face {
	font-family: 'Droid Serif';
	src: url('http://hunch.se/style/fonts/DroidSerif-Regular.eot');
	src: local('☺'), url('http://hunch.se/style/fonts/DroidSerif-Regular.woff') format('woff'),
	     url('http://hunch.se/style/fonts/DroidSerif-Regular.ttf') format('truetype'),
	     url('http://hunch.se/style/fonts/DroidSerif-Regular.svg#webfont5XtKyzGt') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Droid Serif';
	src: url('http://hunch.se/style/fonts/DroidSerif-Italic.eot');
	src: local('☺'), url('http://hunch.se/style/fonts/DroidSerif-Italic.woff') format('woff'),
	     url('http://hunch.se/style/fonts/DroidSerif-Italic.ttf') format('truetype'),
	     url('http://hunch.se/style/fonts/DroidSerif-Italic.svg#webfontK4uAlNrc') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Droid Serif';
	src: url('http://hunch.se/style/fonts/DroidSerif-Bold.eot');
	src: local('☺'), url('http://hunch.se/style/fonts/DroidSerif-Bold.woff') format('woff'),
	     url('http://hunch.se/style/fonts/DroidSerif-Bold.ttf') format('truetype'),
	     url('http://hunch.se/style/fonts/DroidSerif-Bold.svg#webfontg2CzGQfw') format('svg');
	font-weight: bold;
	font-style: normal;
}

/*@font-face {
	font-family: 'Droid Serif';
	src: url('http://hunch.se/style/fonts/DroidSerif-BoldItalic.eot');
	src: local('☺'), url('http://hunch.se/style/fonts/DroidSerif-BoldItalic.woff') format('woff'),
	     url('http://hunch.se/style/fonts/DroidSerif-BoldItalic.ttf') format('truetype'),
	     url('http://hunch.se/style/fonts/DroidSerif-BoldItalic.svg#webfontma7TYoAP') format('svg');
	font-weight: bold;
	font-style: italic;
}*/
