<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Rasmus Andersson</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% if page.title != "Archive (sidebar)" %}
    <meta name="viewport" content="width={% if page.wide_layout %}1100{% else %}700{% endif %}">
    {% endif %}
    <link rel="stylesheet" media="screen, projection" href="/res/screen.css" type="text/css">
    <link rel="stylesheet" media="print" href="/res/print.css" type="text/css">
    <link rel="alternate" type="application/atom+xml" title="Rasmus Andersson" href="http://feeds.feedburner.com/hunch">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta property="fb:admins" content="728642302">
    <meta property="fb:app_id" content="38027689216">
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
      {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      {% endif %}
    {% else %}
    <meta property="og:image" content="http://rsms.me/res/signature.png">
    <meta name="description" content="Ramblings by Rasmus Andersson -- a Swedish designer with a passion for technology">
    {% endif %}
    <meta property="og:url" content="http://rsms.me{{ page.url | remove_first:'index.html' }}">
    <meta property="og:site_name" content="rsms.me">
    {% if page.title != "Archive (sidebar)" %}
    {% include sidebar_ui_controller.html %}
    {% endif %}
    {% if page.include_move %}
    <script src="http://movelang.org/move.js"></script>
    {% endif %}
  </head>
  <body{% if page.wide_layout %} class="wide"{% endif %}>
    <script>
      if (window.navigator.userAgent.indexOf(' iPad ') != -1) {
        document.documentElement.className = 'ios ipad';
        window.rsmsHostIsIOS = 'ipad';
      } else if (window.navigator.userAgent.indexOf(' iPhone ') != -1) {
        document.documentElement.className = 'ios iphone';
        window.rsmsHostIsIOS = 'iphone';
      }
    </script>
    <iframe id="sidebar"></iframe>
    <header>
      <ul class="navigation">
        <li><a href="/photos/"{% if page.url contains "/photos/" %}class="active"{% endif %} title="A selection of recent photography">Photography</a></li>
        <li><a href="/projects/"{% if page.url contains "/projects/" %}class="active"{% endif %} title="Projects I am or was involved in">Projects</a></li>
        <li><a href="/archive/"{% if page.url contains "/archive/" %}class="active"{% endif %} title="Archived articles">Archive</a></li>
        <li><a href="/about/"{% if page.url contains "/about/" %}class="active"{% endif %}>About me</a></li>
      </ul>
      <h1><a href="/"><img src="/res/signature.png" width="81" height="31" alt="Signature"></a></h1>
    </header>
    <div class="wrapper content">
      {{ content }}
    </div>
    
    {% if page.fb_comments %}
    <h2>Comments</h2>
    <div id="fb-root"></div><script>var s;if(document.location.hostname === 'rsms.me')s=document.createElement('script');s.async=true;s.src="http://connect.facebook.net/en_US/all.js#appId=38027689216&xfbml=1";document.getElementsByTagName('head')[0].appendChild(s);</script><fb:comments href="http://rsms.me{{ page.url }}" num_posts="{{ page.fb_comments }}" width="640"></fb:comments>
    {% endif %}
    
    {% if paginator.page %}
    <div id="paginator">
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/">Older entries</a>
      {% endif %}
      {% if paginator.previous_page %}
      <a href="/page{{ paginator.previous_page }}/">Newer entries</a>
      {% endif %}
    </div>
    {% endif %}
    
    {% unless page.no_footer %}
    <footer>
      <form action="http://www.google.com/cse" id="cse-search-box">
        <p>
          Older posts can be found in <a href="/archive/">the archive</a> or by searching: &nbsp;
          <input type="hidden" name="cx" value="006553118601910168903:-x3qflztwei" />
          <input type="hidden" name="ie" value="UTF-8" />
          <input type="text" name="q" size="31" />
          <input type="submit" name="sa" value="Search" />
        </p>
      </form>
      <script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&amp;lang=en"></script>
    </footer>
    {% endunless %}
    
    {% include prettify.html %}
    {% include analytics.html %}
  </body>
</html>
