<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Rasmus Andersson {% if page.title %}&mdash; {{ page.title }} {% endif %}</title>
		<meta name="description" content="Ramblings by Rasmus Andersson">
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
		<link href="/res/screen.css" media="screen, projection" rel="stylesheet" 
		      type="text/css">
	</head>
	<body>
	  <header>
		  <h1><a href="/">Rasmus Andersson</a></h1>
		</header>
    <div class="wrapper">
      {{ content }}
    </div>
		<footer>
      <a href="/" title="Home">Home</a> &mdash;
      <a href="/about/" title="About the author and site">About</a> &mdash;
      <a href="/archive/" title="Archived writing">Archive</a> &mdash;
      <a href="/resume/" title="Me explained in a strict form">Résumé</a> &mdash;
      <a href="http://twitter.com/rsms" title="I'm @rsms on Twitter">Twitter</a> &mdash;
      <a href="http://www.facebook.com/rsms" title="Friends and foes">Facebook</a> &mdash;
      <a href="http://www.flickr.com/photos/rsms/" title="My photos on Flickr">Photography</a> &mdash;
      <a href="http://hunch.se/stuff/" title="Pretty, funny and boring things I've found or made">Stuff</a> &mdash;
      <a href="http://github.com/rsms" title="I heart GitHub">Code</a>
      <form action="http://www.google.com/cse" id="cse-search-box">
        <div>
          <input type="hidden" name="cx" value="006553118601910168903:-x3qflztwei" />
          <input type="hidden" name="ie" value="UTF-8" />
          <input type="text" name="q" size="31" />
          <input type="submit" name="sa" value="Search" />
        </div>
      </form>
      <script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&amp;lang=en"></script>
		</footer>
		{% include analytics.html %}
	</body>
	<script>
	  // Preload font files and finally patch CSS with custom fonts.
	  // We do this to avoid displaying unreadable text while waiting for data.
    var queue = ['http://hunch.se/style/fonts/mplus-1m-light.ttf',
                 'http://hunch.se/style/fonts/mplus-2p-light.ttf'];
    function fetch_next() {
	    try {
	      var url = queue.pop();
	      if (url) {
  	      var req = new XMLHttpRequest();
  	      req.open('GET', url, true);
  	      req.onreadystatechange = function () { if (req.readyState == 4) {
  	        fetch_next();
  	      }};
  	      req.send();
	      } else {
      	  var n = document.createElement('link');
      	  n.href = '/res/screen-later.css';
      	  n.media = 'screen, projection';
      	  n.rel = 'stylesheet';
      	  n.type = 'text/css';
      	  document.getElementsByTagName('head').item(0).appendChild(n);
	      }
      } catch (e) {}
    }
  	//setTimeout(fetch_next, 100);
  	fetch_next();
	</script>
</html>
