<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rasmus Andersson {% if page.title %}&mdash; {{ page.title }} {% endif %}</title>
    <meta name="description" content="Ramblings by Rasmus Andersson">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
    <link href="/res/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/res/print.css" media="print" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <ul class="navigation">
        <li><a href="/archive/" title="Archived articles">Archive</a></li>
        <li><a href="http://hunch.se/">About me</a></li>
      </ul>
      <h1><a href="/"><span>Rasmus Andersson</span></a></h1>
      <!--p class="description">
        Hej. Hello. Hola. Bonjour. 喂. مرحبا<br>
        My name is Rasmus Andersson and I'm a Swedish designer with a passion for technology.
      </p-->
    </header>
    <div class="wrapper">
      {{ content }}
    </div>
    {% if paginator.page %}
    <div id="paginator">
      <a href="/page{{ paginator.next_page }}/">Older entries</a>
      {% if paginator.previous_page %}
      <a href="/page{{ paginator.previous_page }}/">Newer entries</a>
      {% endif %}
    </div>
    {% endif %}
    <footer>
      <a href="/" title="Home">Home</a> &mdash;
      <a href="http://hunch.se/" title="About the author and site">About</a> &mdash;
      <a href="/archive/" title="Archived articles">Archive</a> &mdash;
      <a href="/resume/" title="Me explained in a strict form">Résumé</a> &mdash;
      <a href="http://twitter.com/rsms" title="I'm @rsms on Twitter">Twitter</a> &mdash;
      <a href="http://www.facebook.com/rsms" title="Friends and foes">Facebook</a> &mdash;
      <a href="http://www.flickr.com/photos/rsms/" title="My photos on Flickr">Photography</a> &mdash;
      <a href="http://hunch.se/stuff/" title="Pretty, funny and boring things I've found or made">Stuff</a> &mdash;
      <a href="http://github.com/rsms" title="I heart GitHub">Code</a>
      <form action="http://www.google.com/cse" id="cse-search-box">
        <div>
          <input type="hidden" name="cx" value="006553118601910168903:-x3qflztwei" />
          <input type="hidden" name="ie" value="UTF-8" />
          <input type="text" name="q" size="31" />
          <input type="submit" name="sa" value="Search" />
        </div>
      </form>
      <script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&amp;lang=en"></script>
    </footer>
    {% include analytics.html %}
    <script>
      // Preload font files and finally patch CSS with custom fonts.
      // We do this to avoid displaying unreadable text while waiting for data.
      function finalizer() {
        var n = document.createElement('link');
        n.href = '/res/custom-fonts.css';
        n.media = 'screen, projection';
        n.rel = 'stylesheet';
        n.type = 'text/css';
        document.getElementsByTagName('head').item(0).appendChild(n);
      }
      var countdown = 1;
      function fetch(url) {
        try {
          var req = new XMLHttpRequest();
          req.open('GET', url, true);
          req.onreadystatechange = function () { if (req.readyState == 4) {
            if (--countdown === 0)
              finalizer()
          }};
          req.send();
        } catch (e) {}
      }
      fetch('http://hunch.se/style/fonts/mplus-1m-light.ttf');
      fetch('http://hunch.se/style/fonts/DroidSerif-Regular.woff');
      fetch('http://hunch.se/style/fonts/DroidSerif-Italic.woff');
      fetch('http://hunch.se/style/fonts/DroidSerif-Bold.woff');
      if (--countdown === 0) finalizer();
    </script>
  </body>
</html>
